/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /*rimuovere colore*/
    background-color: lightgrey;
    margin-top: 100px;

}

.debug {
    /*rimuovere*/
    border: 1 solid black;
    min-height: 450px;
}

/* general */

:root {
    --white: #fff;
    --orange: #ff6900;
    --black: #1a1a1a;
    --red: red;
    --green: green;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* header */
ul {
    color: var(--white);
    list-style: none;
}

li,
ul {
    padding: 5px 0;
}

a {
    color: var(--white);
    text-decoration: none;
    padding-right: 10px;
}

header img {
    height: 30px;
}

.flexbar {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
}

.fixed {
    box-shadow: 2px 2px 5px rgba(30, 30, 30, 0.5);
    background-color: var(--orange);
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.relative {
    position: relative;
}

/* main */
main {
    width: 80%;
    margin: 40px auto;
}

.row-flex {
    display: flex;
    margin-bottom: 40px;
}

.row-flex {
    display: flex;
    margin-bottom: 40px;
}

.col {
    width: calc(100% / 3);
    position: relative;
    cursor: pointer;
}

.col img {
    width: 100%;
}

.margin {
    margin: 0 20px;
}

.label {
    position: absolute;
    left: 0px;
    bottom: 100px;
    min-width: 40px;
    padding: 3px;
    text-align: center;
    margin: -3px;
}

.heart {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: var(--white);
    color: var(--black);
    font-size: 30px;
    padding: 5px 10px;
}

.disc {
    background-color: var(--red);
    color: var(--white);
    padding: 5px;
}

.sos {
    background-color: var(--green);
    color: var(--white);
    padding: 5px;
}

.heart:hover {
    color: var(--red);
}

.second {
    display: none;
}

.col:hover .second {
    display: inline-block;
}

.col:hover .first {
    display: none;
}

.text-brand {
    display: block;
}

.text-model {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

.price-red {
    color: var(--red);
    font-weight: bold;
}

.price-line {
    text-decoration: line-through;
}

/* footer */
footer {
    background-color: var(--black);
    color: var(--white);
    padding: 20px 0;
}

.footer-bar-right {
    font-size: 20px;
}